<!DOCTYPE html>
<html>
	<head>
        <meta name="viewport" width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<script src="addons/p5/p5.min.js"></script>
		<script src="addons/p5/p5.dom.min.js"></script>
		<script src="addons/p5/p5.sound.min.js"></script>
		<script src="addons/socket.io/socket.io.min.js"></script>
		<script src="script/background.js"></script>
		<script src="script/starship.js"></script>
		<script src="script/key_hook.js"></script>
		<script src="script/sketch.js"></script>
		<script src="script/crosshair.js"></script>
	</head>
    <body>
        <div id="title_div">
            <img class="img_contain" src="assets/site/title.png" alt="Space Tyrans"/>
        </div>
        </div>
        <div id="menu_div">
            <button class="intro_button hvr-outline-in" type="button" onclick="window.location.href='/game'">PLAY</button>
            <button class="intro_button hvr-outline-in" type="button" onclick="window.location.href='/game'">SCORES</button>
        </div>
    </body>
</html>
