<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <link rel="stylesheet" type="text/css" href="css/hover.css">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <script src="addons/p5/p5.min.js"></script>
        <script src="addons/socket.io/socket.io.min.js"></script>
        <script src="script/intro.js"></script>
    </head>
    <body>
        <div id="title_div">
            <img class="img_contain" src="assets/site/title.png" alt="Space Tyrans"/>
        </div>
        <div id="spaceship_picker_div">
            <button class="intro_button hvr-outline-in" id="prev_spaceship" type="button" onclick="ss_picker.prev()"><</button>
            <div id="gif_div">
                <img class="img_contain" id="spaceship_img" src="assets/site/spinning_ship.gif" alt="Spinning Ship"/>
            </div>
            <button class="intro_button hvr-outline-in" id="next_spaceship" type="button" onclick="ss_picker.next()"><</button>
        </div>
        <div id="menu_div">
            <button class="intro_button hvr-outline-in" type="button" onclick="window.location.href='/game'">PLAY</button>
            <button class="intro_button hvr-outline-in" type="button" onclick="window.location.href='/game'">SCORES</button>
        </div>
    </body>
</html>
